.site-main-wrapper {
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 24px;
    min-height: 600px;
}
.site-aside-container {
    padding-bottom: 50px;
}
.site-main-container {
    border-left: 1px solid #e9e9e9;
    padding: 20px 40px 120px 40px;
    min-height: 600px;
}
.site-aside-nav {
    margin-top: 24px;
}
.site-aside-nav a {
    line-height: 40px;
    height: 40px;
    display: block;
    padding-left: 24px;
    font-size: 14px;
    color: #666;
}
.site-aside-nav a:hover {
    color: #2db7f5
}